@model IEnumerable<ApplicationDev.Models.Store>
@{
    if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <p>
            <a asp-action="CreateStore">Create New</a>
        </p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="product-image">
                        <a href=""><img src="@(item.ImageUrl)" asp-append-version="true" width="250px"
                        height="250px"></a>
                    </div>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="ProductInStore" asp-route-id="@item.Id"
                    class="btn btn-success text-white" style="cursor:pointer">
                        <i class="fa fa-book" aria-hidden="true"></i> Product
                    </a>
                    <a asp-controller="Order" asp-action="OrderManager" asp-route-id="@item.Id"
                    class="btn btn-success text-white" style="cursor:pointer">
                        <i class="fa fa-book" aria-hidden="true"></i> Order Manager
                    </a>
                    @{
                        if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin")){
                            <a asp-action="EditStore" asp-route-id="@item.Id"
                            class="btn btn-success text-white" style="cursor:pointer">
                                <i class="fa fa-info" aria-hidden="true"></i> Edit Info
                            </a>
                            <a asp-action="DeleteStore" asp-route-id="@item.Id"
                            class="btn btn-danger text-white" style="cursor:pointer">
                                Delete Store
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
