@model IEnumerable<ApplicationDev.Models.OrderDetail>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItem.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItem.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItem.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItem.Paid)
                </td>

                <td>
                    <a asp-controller="Order" asp-action="OrderDetails" asp-route-id="@item.OrderId"
                    class="btn btn-success text-white" style="cursor:pointer">
                        <i class="fa fa-book" aria-hidden="true"></i> Product
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
