@model ApplicationDev.ViewModels.OrderVM
@{
	List<ApplicationDev.Models.CartItem> Carts = ViewBag.Cart;
	decimal total = 0;
}
<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
							        <form asp-action="Checkout">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group">
                                                         <p><input asp-for="UserId" value="@ViewBag.User" type="hidden" class="form-control" /></p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Address" class="control-label"></label>
                                                        <input asp-for="Address" class="form-control" />
                                                        <span asp-validation-for="Address" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="OrderDate" class="control-label"></label>
                                                        <input asp-for="OrderDate" class="form-control" />
                                                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Note" class="control-label"></label>
                                                        <input asp-for="Note" class="form-control" />
                                                        <span asp-validation-for="Note" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-primary" />
                                                    </div>
                                                </form>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
							<tr>
								<th>Your order Details</th>
								<th>Price</th>
							</tr>
							</thead>
							<tbody class="order-details-body">
							<tr>
								<td>Product</td>
								<td>Total</td>
							</tr>
							@foreach (var item in Carts)
								{
									<tr>
										<td>@item.Product.Title x @item.Quantity</td>
										<td>@item.Product.Price</td>
									</tr>
								}
							</tbody>
							<tbody class="checkout-details">
							@foreach (var item in Carts)
                            	{
		                            var totals = item.Quantity * item.Product.Price;
		                            total += totals;
	                            }
							<tr>
								<td>Total</td>
								<td>@total</td>
                                                        		</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
